<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/start" id="linkHome1"> <img src="/images/{{s_image_logo}}"></img> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <input type="hidden" id="p_param1" name="p_param1" value="{{s_param1}}">
        <input type="hidden" id="p_param2" name="p_param2" value="{{s_param2}}">        
      </ul>
      

    </div>
  </div>
</nav>
